doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/dropzone.css')
	body
		block content
		script(rel="javascript", src="/javascripts/dropzone.js")